@media ( max-width: 1600px)
    .main__header_items
        padding: 0 155px
    .main__item 
        h1
            font-size: 31px    
        h2
            font-size: 26px
            margin-top: 10px
    .main__form
        h1
            font-size: 32px
    .visible__menu
        left: 746px
    .visible__menu_about
        left: 622px  
    .modal__item
        width: 28%

@media ( max-width: 1470px)
    .main__item 
        h1
            font-size: 34px
    .main__subtitle li 
        line-height: 34px

@media ( max-width: 1300px)             
    .container
        width: 80%
    .main__header_items
        padding: 0
    .main__item 
        h1
            font-size: 38px
    .main__subtitle
        li
            font-size: 21px             
    .main__box
        grid-template-columns: 65% 27% 70px
    .main__items
        justify-content: space-around
        width: 55%
        li
            margin: 0
    .main__phone
        text-align: center
    .visible__menu
        left: 540px    
    .visible__menu_about
        left: 424px
    .modal__item
        width: 35%    
    .feedback__form form 
        padding: 20px 180px


@media ( max-width: 1200px)
    .container
        width: 80%
    .main__header_items
        padding: 0
    .main__item 
        h1
            font-size: 38px
    .main__subtitle
        li
            font-size: 21px             
    .main__box
        grid-template-columns: 65% 27% 70px
    .main__items
        justify-content: space-around
        width: 61%
        li
            margin: 0
    .main__phone
        text-align: center
    .visible__menu
        left: 526px    
    .visible__menu_about
        left: 394px
    .promo__widget
        padding: 0 40px
    .modal__item
        width: 41%
    .princourwrk__wrapper
        grid-template-columns: repeat(2, minmax(400px, 620px))
        grid-template-rows: repeat(3, minmax(100px , 150px)) 
    .prices
        flex-direction: column
        align-items: center
    .feedback__form form
        padding: 20px 100px    
    



@media ( max-width: 992px)
    .main__items
        display: none
    .main__header
        position: static
        background-color: rgba(0, 0, 0, 0.0)
    .container
        padding-top: 10px
    .main__phone
        font-size: 20px
    .main__item 
        h1
            font-size: 34px
    .main__subtitle 
        li
            font-size: 19px
    .main__item 
        h2
            font-size: 24px
            margin-top: 20px                                        
    .main__box
        grid-template-columns: 63% 70px
        justify-content: center
    .container
        width: 90%
    .main__social 
        .social
            height: 55px
            width: 55px        
    .main__header 
        padding: 20px 0 10px 0
    .main__header_items
        justify-content: space-around
        padding-left: 80px
        
    .main__phone
        display: none
    .hamburger
        display: flex
        top: 40px
        right: 35px
    .mobile__menu
        display: block
    .modalbutton
        display: inline-block
        margin-right: 100px
    .promo__phone
        display: inline-block    
    .modal__item
        width: 51%
    .contact__items
        flex-direction: column
        gap: 40px
    .contact__address     
        width: 300px
        text-align: center
        gap: 15px
    .contact__phone
        gap: 15px   
    .contact__mail
        gap: 15px    
    .main__form 
        display: none
    .price
        padding-top: 80px
       

    



@media ( max-width: 768px)
    .main__box
        grid-template-columns: 75% 50px
        grid-template-rows: 415px
        justify-content: center
    .main__form
        display: none
    .main__subtitle 
        li
            line-height: 35px
    .main__item 
        h2
            font-size: 22px
    .main__header_items
        padding-left: 60px
    .hamburger
        top: 38px
    .modalbutton
        display: inline-block
        margin-left: 250px
    .aboutus__wrapper   
        display: flex
        flex-direction: column
    .aboutus__descr
        padding: 0 
    .promo__widget
        padding: 0   
    .promo__wrapper__item
        column-gap: 10px 
    .modal__item
        width: 64%   
    .partners
        gap: 9px    
    .princourwrk__wrapper
        grid-template-columns: repeat(2, minmax(280px, 620px))
    .main__item 
        h2
            display: none
        h1
            font-size: 30px    
  


@media ( max-width: 576px)
    .modalbutton
        margin-left: 60px
    .mobile__menu
        width: 50%
    .container
        width: 90%
    .main__item 
        h1
            font-size: 25px
            margin: 10px 0
    .main__box
        grid-template-rows: 365px
    .main__subtitle 
        padding-left: 25px    
        li
            line-height: 22px
    .promo__wrapper__item
        grid-template-columns: minmax(180px ,260px)
        grid-template-rows: repeat(4, minmax(260px, auto))
    .last__promo
        display: flex
        flex-direction: column
        gap: 30px
        a
            margin-top: 30px
        h3
            margin-top: 30px
    .modal__item
        width: 100%
        h1
            font-size: 28px
    .employees__wrapper
        grid-template-columns: 80%                  
    .statistics__item
        flex-direction: column
    .partners
        flex-direction: column
        gap: 80px    
    .princourwrk__wrapper
        grid-template-columns:  minmax(280px, 620px)
        grid-template-rows: repeat(6, minmax(100px, 150px))
    .aboutus__wrapper
        row-gap: 90px  
    .feedback__form form 
        padding: 20px 0
        align-items: center
        a
            text-align: center    
    .modal__info__close
        right: 21px
        top: 10px         
      
             



@media ( max-width: 480px)
    .main__header_items
        padding-left: 5px
    .hamburger
        right: 23px
        top: 42px
    .modalbutton
        margin-left: 45px
    .main__item 
        h1
            font-size: 24px   
    .main__box
        grid-template-columns: 80% 50px
        grid-template-rows: 330px
    .main__social 
        .social
            height: 45px
            width: 45px
    .promo__widget
        flex-direction: column
        gap: 20px
        height: auto 
        svg
            margin-top: 20px   
    .promo__widget__btn
        margin-bottom: 20px 
    .modal
        padding: 150px 67px
    .price__title
        width: 93%
    .prices__descr
        width: 93%
    .price 
        padding-top: 20px   
    .modal__info__wrapper
        width: 95%     
    
           
               


@media ( max-width: 420px)
    .container
        width: 97%
    .hamburger
        right: 20px
        top: 31px
    .modalbutton
        margin-left: 45px
    
    .main__logo 
        img                 
            height: 50px
            width: 150px
    .modal
        padding: 150px 43px 
    .modal__input
        width: 68%
    .modal__item form textarea 
        width: 68%     
    .princourwrk__wrapper
        grid-template-columns:  100% 
        grid-template-rows: repeat(6, minmax(100px , 130px))      
    .main__subtitle 
        li
            line-height: 15px
            font-size: 16px    
    .main__item h1 
        font-size: 22px
                


@media ( max-width: 400px)
    .container
        width: 97%
    .modalbutton
        margin-left: 21px
    
    .main__subtitle 
        li
            line-height: 20px
            font-size: 18px
    .main__item 
        h1
            font-size: 19px
        h2  
            font-size: 17px    
    .mobile__menu                                     
        width: 60%
    .main__box
        column-gap: 7px
        grid-template-columns: 85% 50px
        grid-template-rows: 290px    
    .main__header
        height: 83px
        margin-bottom: 30px
    .aboutus .title
        font-size: 21px
    .title
        font-size: 21px
    .modal__item 
        h1
            font-size: 26px
    .modal__item 
        form                    
            gap: 20px
    .hamburger
        width: 28px
        height: 25px 
    .princourwrk__wrapper
        grid-template-columns:  100% 
        grid-template-rows: repeat(6, minmax(100px , 130px))   
    .prices__item
        width: 92%  
    .swiper
        width: 90% 
    .feedback__form form 
        a         
            width: 100%
    .modal__info__wrapper
        width: 98%
    .modal__info__close
        right: 21px
        top: 10px 
    .modal__info__close
        right: 9px
        top: 2px              
                   


@media ( max-width: 350px) 
    .main__subtitle 
        li
            line-height: 15px
            font-size: 16px
    .hamburger
        width: 28px
        height: 22px
        right: 16px
        top: 26px
        span
            width: 28px
    .modalbutton
        height: 37px
        width: 114px   
        margin-right: 50px 
    .main__header
        padding: 10px 0 10px 0
    .mobile__menu                                     
        width: 70%    
    .promo
        border-bottom: 85px
    .modal__item 
        h1
            font-size: 24px    
    .modal
        padding: 150px 19px 
    .princourwrk__item 
        h1
            font-size: 19px       
    .princourwrk__wrapper
        grid-template-columns:  100% 
        grid-template-rows: repeat(6, minmax(100px , 130px)) 
    .swiper
        width: 96%
    .aboutus__wrapper
        row-gap: 40px    
    .price__title
        width: 93%
    .prices__descr
        width: 93%
    .price 
        padding-top: 20px
                
    
     